@model TooSimple.Models.ViewModels.DashboardMoveMoneyVM

@if (Model.AccountsList.Count > 1)
{
    <form id="transferBetweenGoals" action="~/Dashboard/SaveMoveMoney" method="post">
        @Html.HiddenFor(m => m.UserAccountId)
        <div class="col-sm-8">
            <div class="row">
                @Html.LabelFor(m => m.FromAccountId, "From Account", new { @class = "form-check-label" })
                @Html.DropDownListFor(m => m.FromAccountId, Model.AccountsList, new { @class = "form-control" })
            </div>
            <div class="row">
                @Html.LabelFor(m => m.ToAccountId, "To Account", new { @class = "form-check-label" })
                @Html.DropDownListFor(m => m.ToAccountId, Model.AccountsList, new { @class = "form-control" })
            </div>
            <div class="row">
                @Html.LabelFor(m => m.Amount, "Amount", new { @class = "form-check-label" })
                @Html.TextBoxFor(m => m.Amount, new { @class = "form-control" })
            </div>

            <div class="row">
                <button id="btnSaveTransfer" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
}
else
{
    <p>Add some accounts, then come back</p>
}