@model TooSimple.Models.ViewModels.DashboardVM

@if (Model.LinkToken != null)
{
    <h2>Get started by adding an account</h2>
    <button onclick="startLink()">Add Account</button>
}
else
{
    <p>Available Balance: $@Model.CurrentBalance</p>
}

@if (Model.Transactions.Any())
{ 
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Transaction</th>
            <th>Amount</th>
            <th>Spent From</th>
            <th>Edit Transaction</th>
        </tr>
    </thead>
    @foreach(var transaction in Model.Transactions)
    {
        <tr>
            <td>
                @transaction.TransactionDate
            </td>
            <td>
                @transaction.MerchantName
            </td>
            <td>
                @transaction.Amount
            </td>
            <td>
                @transaction.SpendingFrom
            </td>
            <td>
                <a href="~/Dashboard/LoadTransaction?id=@transaction.TransactionId">Edit</a>
            </td>
        </tr>
    }
</table>
}
else
{
    <p>No transactions were found for your accounts.</p>
}


<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>

<script type="text/javascript">
    const handler = Plaid.create({
        token: '@Model.LinkToken',
        onSuccess: (public_token, metadata) => {
            fetch('/Dashboard/PlaidLink', {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    public_token: public_token,
                    accounts: metadata.accounts,
                    institution: metadata.institution,
                    link_session_id: metadata.link_session_id
                }),
            });
        },
        onLoad: () => { },
        onExit: (err, metadata) => { },
        onEvent: (eventName, metadata) => { },
        receivedRedirectUri: null,
    });

    function startLink() {
        handler.open();
    }
</script>