@model TooSimple.Poco.Models.ViewModels.DashboardGoalListVM

<h1 class="mb-4">Goals</h1>

<div class="row form-group">
    <div class="col-sm-6">
        <a href="~/Dashboard/AddEditGoal?isExpense=false" title="New Goal" id="btnNewGoal" class="btn btn-primary">Add Goal</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    @foreach (var goal in Model.Goals)
    {
        <tr>
            <td>@goal.GoalName</td>
            <td>
                @goal.CurrentBalance / @goal.GoalAmount
                <br />
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: @goal.ProgressPercent" aria-valuenow="@goal.ProgressPercent" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="row">
                    @if (goal.Paused)
                    {
                        <p>Paused</p>
                    }
                    else
                    {
                        <p>Next contribution: @goal.NextContributionAmount on @goal.NextContributionDate</p>
                    }
                </div>
            </td>
            <td><a href="~/Dashboard/AddEditGoal?id=@goal.GoalId"><span class="material-icons">mode_edit</span></a></td>
            <td><a href="~/Dashboard/DeleteGoal?isExpense=false&id=@goal.GoalId"><span class="material-icons">delete</span></a></td>
        </tr>
    }
</table>