@model TooSimple.Models.ViewModels.DashboardSaveGoalVM

<h1 class="mb-4">@Model.GoalName</h1>

@if (!Model.ExpenseFlag)
{
    <form id="goalForm" action="~/Dashboard/SaveGoal" method="post">
        @Html.HiddenFor(m => Model.GoalId)
        @Html.HiddenFor(m => Model.UserAccountId)
        <div class="col-sm-8">
            <div class="row">
                @Html.LabelFor(m => m.GoalName, "Goal Name", new { @class = "form-check-label" })
                @Html.TextBoxFor(m => m.GoalName, new { @class = "form-control", autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.GoalName)
            </div>
            <div class="row">
                @Html.LabelFor(m => m.GoalAmount, "Amount", new { @class = "form-check-label" })
                @Html.TextBoxFor(m => m.GoalAmount, new { @class = "form-control", autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.GoalAmount)
            </div>
            <div class="row">
                @Html.LabelFor(m => m.DesiredCompletionDate, "When do you need it by?", new { @class = "form-check-label" })
                @Html.TextBoxFor(m => m.DesiredCompletionDate, new { @class = "form-control datepicker", autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.GoalName)
            </div>
            <div class="row">
                @Html.LabelFor(m => m.FundingScheduleId, "Funding Schedule", new { @class = "form-check-label" })
                @Html.DropDownListFor(m => m.FundingScheduleId, Model.FundingScheduleOptions, new { @class = "form-control" })
            </div>
            <div class="row">
                @Html.LabelFor(m => m.AutoSpendMerchantName, "Auto Spend Merchant Name", new { @class = "form-check-label" })
                @Html.TextBoxFor(m => m.AutoSpendMerchantName, new { @class = "form-control", autocomplete = "off" })
            </div>
            <div class="row">
                <div class="form-check">
                    @Html.CheckBoxFor(m => m.Paused, new { @class = "form-check-input", type = "checkbox" })
                    @Html.LabelFor(m => m.Paused, "Pause Automatic Contributions", new { @class = "form-check-label" })
                </div>
            </div>

            <div class="row mt-2">
                <button id="btnSaveGoal" class="btn btn-primary">Save Goal</button>
            </div>
        </div>
    </form>
}
else
{
    <form id="goalForm" action="~/Dashboard/SaveExpense" method="post">
        @Html.HiddenFor(m => Model.GoalId)
        @Html.HiddenFor(m => Model.UserAccountId)
        <div class="col-sm-8">
            <div class="row">
                @Html.LabelFor(m => m.GoalName, "Expense Name", new { @class = "form-check-label" })
                @Html.TextBoxFor(m => m.GoalName, new { @class = "form-control", autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.GoalName)
            </div>
            <div class="row">
                @Html.LabelFor(m => m.DesiredCompletionDate, "Due Date", new { @class = "form-check-label" })
                @Html.TextBoxFor(m => m.DesiredCompletionDate, new { @class = "form-control datepicker", autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.DesiredCompletionDate)
            </div>
            <div class="row">
                @Html.LabelFor(m => m.GoalAmount, "How much do you need?", new { @class = "form-check-label" })
                @Html.TextBoxFor(m => m.GoalAmount, new { @class = "form-control", autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.GoalAmount)
            </div>
            <div class="row">
                @Html.LabelFor(m => m.RecurrenceTimeFrame, "How often does this expense recur?", new { @class = "form-check-label" })
                @Html.DropDownListFor(m => m.RecurrenceTimeFrame, Model.RecurrenceTimeFrameOptions, new { @class = "form-control" })
            </div>
            <div class="row">
                @Html.LabelFor(m => m.FundingScheduleId, "Funding Schedule", new { @class = "form-check-label" })
                @Html.DropDownListFor(m => m.FundingScheduleId, Model.FundingScheduleOptions, new { @class = "form-control" })
            </div>
            <div class="row">
                @Html.LabelFor(m => m.AutoSpendMerchantName, "Auto Spend Merchant Name", new { @class = "form-check-label" })
                @Html.TextBoxFor(m => m.AutoSpendMerchantName, new { @class = "form-control", autocomplete = "off" })
            </div>

            <div class="row mt-2">
                <button id="btnSaveGoal" class="btn btn-primary">Save Expense</button>
            </div>
        </div>

    </form>
}

@if (Model.FundingHistory.Any())
{
    <h2 class="mb-4">Goal Transaction History</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>From Goal</th>
                <th>To Goal</th>
                <th>Amount</th>
                <th>Note</th>
            </tr>
        </thead>
        @foreach (var history in Model.FundingHistory)
        {
            <tr>
                <td>@history.TransferDate</td>
                <td>@history.FromAccount</td>
                <td>@history.ToAccount</td>
                <td>@history.Amount</td>
                <td>@history.Note</td>
            </tr>
        }
    </table>
}